# dependencies
node_modules/

# next
.next/
out/

# environment
.env
.env.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/
.DS_Store
dev.db